<%# inutile pour l'instant %>
<tr>
 	<td class="recommendation">
 	   <span class="category">
      <%= feed2_item.category %>:
    	</span> 		
 	   <span class="sender">
      <%= feed2_item.sender.nom %> vous recommande 
    	</span>
    	<span class="item">
      <%= feed2_item.item %> 
    	</span><br>
    	<span class="content"><%= feed2_item.content %></span><br>
    	<span class="timestamp">
      Recommandé il y a <%= time_ago_in_words(feed2_item.created_at) %>.
    	</span><br>
    	<span class="dejavu"><%= link_to "Déjà vu", "#" %></span>
    	<span class="todolist"><%= link_to "To Do List", "#" %></span>
    	<span class="nonmerci"><%= link_to "Non merci", feed2_item, :method => :delete,
                                     data: { :confirm => "Etes-vous certain ?" } %></span>
  	</td>
</tr>
