<%= form_for @sent_recommendation do |f| %>
  	<%= render 'shared/error_messages', :object => f.object %>
  	<div class="field">
    	<%= f.text_area :receiver_id %>
  	</div>
  	<div class="field">
    	<%= f.text_area :content %>
  	</div>
  	<div class="actions">
    	<%= f.submit "Soumettre" %>
  	</div>
<% end %>
