<nav class = "edit" >
<div class = "grdimgprofil">
  	<%= image_tag current_user.avatar.url(:small) %>
</div>
<%= form_for @user, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  		<div class="avatarfield">
  			<%= f.label :avatar %><br>
  			<%= f.file_field :avatar %>
  		</div>
  		<div class="field">
	  		<%= f.label :nom, "Nom" %><br>
	  		<%= f.label :email, "eMail" %><br>
	  		<%= f.label :password, "Mot de passe" %><br>
	  		<%= f.label :password_confirmation,  "Confirmation" %><br>
	  	</div>
	  	<div class="answer">
	  		<%= f.text_field :nom %>
	  		<%= f.text_field :email %>
	  		<%= f.password_field :password %>
	  		<%= f.password_field :password_confirmation %>
	  	</div>
		<div class="actions">
			<%= f.submit "Update" %>
	  	</div>
<% end %>
</nav>
  
  
  
  
  
  



