<h1>Mes amis</h1>
<div>  
  <% for friendship in current_user.friendships.where(:status => "accepted") %>  
    <%= h render friendship.friend %> 
    <%= link_to "supprimer des amis", friendship, :method => :delete %> 
  <% end %> 
  <% for friendship in current_user.inverse_friendships.where(:status => "accepted") %>   
    <%= h render friendship.user %> 
    <%= link_to "supprimer des amis", friendship, :method => :delete %>   
  <% end %>  
</div>
<h1>Mes demandes reçues</h1>
<ul>  
  <% for friendship in current_user.inverse_friendships.where(:status => "pending") %>  
    <%= h render friendship.user %>
    	<%= form_for(friendship) do |f| %>
  			<div><%= f.hidden_field :status, :value => "accepted" %></div>
  			<div class="actions"><%= f.submit "accepter" %></div>
		<% end %>   
  <% end %> 
</ul>
<h1>Mes demandes envoyées</h1>
<ul>  
  <% for friendship in current_user.friendships.where(:status => "pending") %>    
    <%= h render friendship.friend %>
    <%= link_to "supprimer la demande", friendship, :method => :delete %>   
  <% end %> 
</ul> 

<h1>Tous les utilisateurs</h1>

<%= will_paginate %>

<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate %>

<% current_user %>

 

