<table class="profile" summary="Information profil">			
	<tr>		
		<td class="main">	
			<h1>
				<%= image_tag @user.avatar.url(:small) %>
				<%= @user.nom %>
			</h1>
			<%= render 'befriend_form' if signed_in? %>
		</td>
		<td class="sidebar round">
			<strong>Nom</strong> <%= @user.nom %><br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %><br />
		</td>
	</tr>		
</table>			


