<header>
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<div class="button">Menu</div>
				<div class="dropdown">
					<% if signed_in? %>
					<%= link_to "News", root_path %>
					<%= link_to "Utilisateurs", users_path %>
      			<%= link_to "Réglages", edit_user_path(current_user) %>
      			<%= link_to "profil", current_user %>
      			<% end %>
					<% if signed_in? %>
		   		<%= link_to "Déconnexion", signout_path, :method => :delete %>
		   		<% else %>
		   		<%= link_to "S'identifier", signin_path %>
		   		<% end %>
				</div>
		</ul>	
	</nav>
</header>

<script>
$(".button").click(function(){
   
    $(".dropdown").slideToggle();
    
});
</script>

